{% extends 'layouts/default.html.twig' %}

{% block title %}{{ post.meta.title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ post.meta.description }}" />
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('blog') }}">Blog</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
    </ul>
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <div class="card">
        <div class="card-header">{{ post.createDate|date('Y-m-d') }}</div>
        <div class="card-body">
            <div class="card-text">{{ post.content.full|nl2br }}</div>
        </div>
    </div>

    <hr style="margin: 40px 0;">

    <h2>Comments</h2>

    {% for comment in post.comments %}
        <div class="card">
            <div class="card-header">
                <span style="float: right;">{{ comment.date|date('Y-m-d') }}</span>
                {{ comment.author }}
            </div>
            <div class="card-body">{{ comment.text|nl2br }}</div>
        </div>
        <br>
    {% endfor %}
{% endblock %}

